* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    /* colors */
    --gray-dark: #303745;
    --gray-medium: #3E4553;
    --gray-medium-light: #8F98AA;
    --gray-light: #D3D7DA;
    --gray-light-lighter: #eaecee;

    --light: #ffffff;

    --blue-primary: #3F51B5;
    --blue-primary-darker: #26368f;
    --yellow: #FFC107;
    --yellow-lighter: #f7cb47;

    --success: #00B894;
    --fail: #E53935;

    --Poppins: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    font-family: var(--Poppins);
}

main {
    background-color: var(--gray-light);
}

button {
    border-radius: 50px;

    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.40);
    cursor: pointer;
    transition: background-color 0.3s;
    border-style: solid;
    border-width: 0px;
}

.txt-btn {
    padding-inline: 1.5em;
    padding-block: 0.5em;

    font-family: var(--Poppins);
    font-weight: 700;
    font-size: 16px;

}

.btn-primary {
    color: var(--light);
    background-color: var(--blue-primary);
}

.btn-primary:hover {
    background-color: var(--blue-primary-darker);
}

.btn-secondary {
    color: var(--blue-primary);
    background-color: var(--gray-light);
    border-width: 2px;
    border-color: var(--blue-primary);
}

.btn-secondary:hover {
    background-color: var(--gray-light-lighter);
}

.icon-btn-nav {
    height: 40px;
    width: 40px;
}

.icon-btn-nav:hover {
    background-color: var(--gray-medium-light);
}