* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    /* colors */
    --gray-dark: #303745;
    --gray-medium: #3E4553;
    --gray-medium-light: #8F98AA;
    --gray-light: #D3D7DA;
    --gray-light-lighter: #eaecee;

    --light: #ffffff;

    --blue-primary: #3F51B5;
    --blue-primary-darker: #26368f;
    --yellow: #FFC107;
    --yellow-lighter: #f7cb47;
    --very-light-blue: #E7EBF3;

    --success: #00B894;
    --fail: #E53935;
    --fail-darker: #bb302e;

    --Poppins: 'Poppins', sans-serif;
}

html,
body {
    height: 100dvh;
    font-family: var(--Poppins);
    overflow: hidden;
}

main {
    background-color: var(--gray-light);
}

button {
    border-radius: 50px;
    border-width: 2px;
    border-color: transparent;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.40);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.40);
}

.txt-btn {
    padding-inline: 1.5em;
    padding-block: 0.5em;

    font-family: var(--Poppins);
    font-weight: 700;
    font-size: 1em;
    line-height: 1em;

}

.btn-primary {
    color: var(--light);
    background-color: var(--blue-primary);
}

.btn-primary:hover {
    background-color: var(--blue-primary-darker);
}

.btn-secondary {
    color: var(--blue-primary);
    background-color: var(--very-light-blue);
    border-color: var(--blue-primary);
    border-style: solid;
}

.btn-secondary:hover {
    background-color: var(--light);
}

button.warning {
    background-color: var(--fail);
}
button.warning:hover {
    background-color: var(--fail-darker);
}

.icon-btn {
    min-height: 2.7em;
    min-width: 2.7em;
    max-height: 2.7em;
    max-width: 2.7em;
    padding: 0.5em;
    fill: var(--blue-primary)
}

.icon-btn-nav {
    height: 40px;
    width: 40px;
}

.icon-btn-nav:hover {
    background-color: var(--gray-medium-light);
}

input {
    height: 2.5em;
    border-width: 1px;
    padding-inline-start: 1em;


    border-radius: 8px;
    border-color: var(--gray-dark);
    border-style: solid;
    font-family: var(--Poppins);
    font-size: 1em;
    transition: 0.3s;

}

input:focus {
    border-style: solid;
    border-color: var(--blue-primary);
    border-width: 2px;
    outline: none;

}

label {
    font-weight: 600;
    font-size: 1em;
    margin-block-end: 0.2em;
}


.empty-state-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;

padding-block: 3em;
}

.empty-state-img{
    width: 14em;
}

.empty-state-container p{
   font-size: 1.2em; 
}